@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');;

:root {
    --main_color_dark: #36383b;
    --main_color_light: whitesmoke;
}
* {
    font-family: 'Source Code Pro', monospace;
}
.App {
    height: 100vh;
}

.header {
    width: 100%;
    min-height: 140px;
    height: 20%;
    background-color: var(--main_color);
    color: var(--main_color_light);
}

.task-container{
    width: 100%;
    padding : 40px 100px;
    gap: 4rem;
    overflow-wrap: break-word;
}

@media screen and (max-width: 992px) {
    .task-container {
        padding: 40px 50px;
    }
  }
